@charset "UTF-8";

.bg-img {
	
	background-size: cover;
	padding: 20px 0;
}

header {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	list-style: none;
}

li {
	margin-left: 36px;
}

a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
}

a:hover {
	color: #fff;
}

main {
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-weight: normal;
	font-size: 3rem;
}

input,
textarea {
	display: block;
	padding: 10px;
	font-size: 16px;

}

input {
	
}

textarea {

}

button {

}

button:hover {

}

section {
	display: flex;
	width: 900px;
	margin: 36px auto;
}

.info,
.map {
	width: 50%;
}

.map img {
	width: 100%;
}

h2 {
	font-weight: normal;
}

th,
td {

}

th {

}

footer {

}